# Strings

Strings are used to record the text information such as name. In Python, Strings act as “Sequence” which means Python tracks every element in the String as a sequence. This is one of the important features of the Python language.

For example, Python understands the string "hello' to be a sequence of letters in a specific order which means the indexing technique to grab particular letters (like first letter or the last letter).

## String Basics

In Strings, the length of the string can be found out by using a function called len().

In [2]:
len('KarthikPrabhakar')

16

In [25]:
a + str(1)

'Karthik1'

In [5]:
a *3

'KarthikKarthikKarthik'

## String Indexing
We know strings are a sequence, which means Python can use indexes to call all the sequence parts. Let's learn how String Indexing works.
•	We use brackets [] after an object to call its index. 
•	We should also note that indexing starts at 0 for Python. 
Now, Let's create a new object called s and the walk through a few examples of indexing.

In [11]:
# Let's assign k as a string

k = "Good Day"

In [12]:
k[0]

'G'

In [13]:
# We can also use negative indexing to go backwards.

k[-1]

'y'

In [14]:
len(k)

8

We can use a : to perform *slicing* which grabs everything up to a designated 

*   List item
*   List item

point. For example:

In [15]:
# Grab everything past the first term all the way to the length of s which is len(k)

k[1:]

'ood Day'

In [16]:
# Grab everything UP TO the 3rd index
k[:3]

'Goo'

Note the above slicing. Here we're telling Python to grab everything from 0 up to 3. It doesn't include the 3rd index. You'll notice this a lot in Python, where statements and are usually in the context of "up to, but not including".

In [17]:
#Everything
k[:]

'Good Day'

In [18]:
# Grab everything but the last letter
k[:-1]

'Good Da'

In [19]:
# Grab everything, but go in step sizes of 2
k[::2]

'Go a'

In [23]:
# We can use this to print a string backwards

k[::-1]

'yaD dooG'

## String Properties

Immutability is one the finest string property whichh is created once and the elements within it cannot be changed or replaced. For example:

In [21]:
# Let's try to change the first letter to 'x'
k[0] = 'x'

TypeError: 'str' object does not support item assignment

Notice how the error tells us directly what we can't do, change the item assignment!

Something we can do is concatenate strings!

In [ ]:
# Concatenate strings!
k + " Today"

In [24]:
# We can reassign s completely though!
s = k + " Today"

In [25]:
s

'Good Day Today'

In [26]:
# We can use the multiplication symbol to create repetition!

s *3

'Good Day TodayGood Day TodayGood Day Today'

## Basic Built-in String methods

In Python, Objects have built-in methods which means these methods are functions present inside the object (we will learn about these in much more depth later) that can perform actions or commands on the object itself.

Methods can be called with a period followed by the method name. Methods are in the form:

object.method(parameters)

Where parameters are extra arguments which are passed into the method. Right now, it is not necessary to make 100% sense but going forward we will create our own objects and functions. 

Here are some examples of built-in methods in strings:

In [27]:
a = 'Karthik'

In [28]:
a.upper()

'KARTHIK'

In [29]:
a.lower()

'karthik'

In [30]:
s = "My@name@is@Karthik"

In [31]:
s.split('@')

['My', 'name', 'is', 'Karthik']

In [32]:
type(s.partition('@'))

tuple

## Print Formatting

Print Formatting ".format()" method is used to add formatted objects to the printed string statements. 

Let's see an example to clearly understand the concept.

In [33]:
'Insert another string with curly brackets: {}'.format('The inserted string')

'Insert another string with curly brackets: The inserted string'

In [34]:
a = input("Please Give Your Name")

Please Give Your NameKarthik

In [35]:
'My name is {}'.format(a)

'My name is Karthik'

## Location and Counting

In [38]:
s.count('a')

2

In [37]:
s.find('o') # only tells the first occurence

-1

## Formatting
The center() method allows you to place your string 'centered' between a provided string with a certain length.

In [39]:
k = "karthik"

In [40]:
k.center(50,'P')

'PPPPPPPPPPPPPPPPPPPPPkarthikPPPPPPPPPPPPPPPPPPPPPP'

In [41]:
k.center(50,'Pf') # Accepts only single character

TypeError: The fill character must be exactly one character long

expandtabs() will expand tab notations \t into spaces. Let's see an example to understand the concept.

In [42]:
# Basic split method

'karthik\tP'.split('\t')

['karthik', 'P']

In [43]:
# In expandtab

'karthik\tP\tKar'.expandtabs()

'karthik P       Kar'

## is check methods
These various methods below check it the string is some case. Lets explore them:

In [45]:
k.isalnum() #isalnum() will return "True" if all characters in k are alphanumeric.

True

In [47]:
k.isalpha() # isalpha() wil return "True" if all characters in k are alphabetic.

True

islower() will return "True" if all cased characters in S are lowercase and there is
at least one cased character in S, False otherwise.

In [48]:
k.islower()

True

isupper() will return "True" if all cased characters in K are uppercase and there is at least one cased character in S, False otherwise.

In [49]:
k.isupper()

False

In [50]:
k.isspace() # isspace() will return "True" if all characters in S are whitespace.

False

istitle() will return "True" if S is a title cased string and there is at least one character in S, i.e. uppercase characters may only follow uncased characters and lowercase characters only cased ones. Return False otherwise.

In [51]:
k.istitle()

False

Another method is endswith() which is essentially same as a boolean check on s[-1]

In [52]:
k.endswith('k')

True

## Built-in Reg. Expressions

In Strings, there are some built-in methods which is similar to regular expression operations.
•	Split() function is used to split the string at a certain element and return a list of the result.
•	Partition is used to return a tuple that includes the separator (the first occurrence), the first half and the end half.

In [54]:
k.split('t')

['kar', 'hik']

In [55]:
k.partition('t')

('kar', 't', 'hik')

# Lists

Earlier, while discussing introduction to strings we have introduced the concept of a *sequence* in Python. In Python, Lists can be considered as the most general version of a "sequence". Unlike strings, they are mutable which means the elements inside a list can be changed!

Lists are constructed with brackets [] and commas separating every element in the list.

Let's go ahead and see how we can construct lists!

In [1]:
# Assign a list to an variable named list_a

list_a = [1,3,4]

In [2]:
my_list = ['A string',23,100.232,'o'] # list can hold different object types

In [3]:
my_list

['A string', 23, 100.232, 'o']

In [4]:
len(my_list) # length of list

4

### Indexing and Slicing
Indexing and slicing of lists works just like in Strings. Let's make a new list to remind ourselves of how this works:

In [5]:
# Grab element at index 0
my_list[0]

'A string'

In [6]:
# Grab index 1 and everything past it
my_list[1:]

[23, 100.232, 'o']

In [7]:
# Grab everything UP TO index 3
my_list[:3]

['A string', 23, 100.232]

We can also use "+" to concatenate lists, just like we did for Strings.

In [8]:
my_list + ['new item',5]

['A string', 23, 100.232, 'o', 'new item', 5]

Note: This doesn't actually change the original list!

In [9]:
my_list

['A string', 23, 100.232, 'o']

We can also use the * for a duplication method similar to strings:

In [10]:
my_list * 2

['A string', 23, 100.232, 'o', 'A string', 23, 100.232, 'o']

In [11]:
# Again doubling not permanent
my_list

['A string', 23, 100.232, 'o']

## Basic List Methods

There are two reasons which tells why the lists in Python are more flexible than arrays in other programming language:

a. They have no fixed size (which means we need not to specify how big the list will be)
b. They have no fixed type constraint

In [21]:
# Create a new list
l = [1,2,3]

In [22]:
# Append : Use the **append** method to permanently add an item to the end of a list:
l.append('append me!')
l

[1, 2, 3, 'append me!']

In [25]:
# Use pop to "pop off" an item from the list. By default pop takes off the last index, but you can also specify which index to pop off. Let's see an example:

l.pop(2)

3

In [26]:
l

[1, 2]

In [27]:
l[::-1] # list reversal

[2, 1]

We can use the **sort** method and the **reverse** methods to also effect your lists:

In [28]:
l.reverse() # reverse makes the changes permanent

In [29]:
l

[2, 1]

In [32]:
l.sort(reverse=True) # only works when you have same object type

In [33]:
l

[2, 1]

## Nesting Lists

Nesting Lists is one of the great features in Python data structures. Nesting Lists means we can have data structures within data structures. 

For example: A list inside a list.

In [34]:
a = [2,45,4,5,7,8,4]
b = [56,6,7,34,6,4,6]
c = [4,6,6,2,56,7]

d = [a,b,c]

In [35]:
d

[[2, 45, 4, 5, 7, 8, 4], [56, 6, 7, 34, 6, 4, 6], [4, 6, 6, 2, 56, 7]]

In [36]:
d[:]

[[2, 45, 4, 5, 7, 8, 4], [56, 6, 7, 34, 6, 4, 6], [4, 6, 6, 2, 56, 7]]

In [39]:
d[1][::2]

[56, 7, 6, 6]

In [44]:
# reversal of list

m = []

d.reverse()

for x in d:
    m.append(x[::-1])

In [45]:
m

[[4, 8, 7, 5, 4, 45, 2], [6, 4, 6, 34, 7, 6, 56], [7, 56, 2, 6, 6, 4]]

In [46]:
# Access second index of each list in nested list

n = []


for i in m:
    n.append(i[2])
n

[7, 6, 2]

# List Comprehensions

Python has an advanced feature called list comprehensions which allows for quick construction of lists. 

Before we try to understand list comprehensions completely we need to understand "for" loops.

In [47]:
[i[2]*2 for i in m]

[14, 12, 4]

# Advanced Lists

In this series of lectures, we will be diving a little deeper into all the available methods in a list object. These are just methods that should encountered without some additional exploring. Its pretty likely that you've already encountered some of these yourself!

Lets begin!

**extend: extends list by appending elements from the iterable**
**append: Appends object at end**

## Append v/s Extend

In [48]:
s = [4,5,6,6,5]

In [50]:
s.append(['kar'])

In [51]:
s

[4, 5, 6, 6, 5, ['kar']]

In [54]:
s.extend(['kar',1,2,3])

In [55]:
s

[4, 5, 6, 6, 5, ['kar'], 'kar', 'kar', 1, 2, 3]

# Count

In [56]:
s.count(6)

2

In [60]:
s.count(['kar'])

1

## index

index returns the element placed as an argument. Make a note that if the element is not in the list then it returns an error.

In [63]:
s[:-1]

[4, 5, 6, 6, 5, ['kar'], 'kar', 'kar', 1, 2]

In [64]:
s[15]

IndexError: list index out of range

## insert 

Two arguments can be placed in insert method. 

Syntax: insert(index,object) 

This method places the object at the index supplied. For example:

In [65]:
# Place a letter at the index 2
s.insert(2,'inserted')

In [66]:
s

[4, 5, 'inserted', 6, 6, 5, ['kar'], 'kar', 'kar', 1, 2, 3]

## pop
 allows us to "pop" off the last element of a list.

In [67]:
s.pop(2)

'inserted'

In [68]:
s

[4, 5, 6, 6, 5, ['kar'], 'kar', 'kar', 1, 2, 3]

## remove
The remove() method removes the first occurrence of a value. For example:

In [69]:
s.remove(6)

In [70]:
s

[4, 5, 6, 5, ['kar'], 'kar', 'kar', 1, 2, 3]

## reverse
As the name suggests, reverse() helps you to reverse a list. Note this occurs in place! Meaning it effects your list permanently.

In [71]:
s.reverse()

In [72]:
s

[3, 2, 1, 'kar', 'kar', ['kar'], 5, 6, 5, 4]

## sort
sort will sort your list in place:

In [73]:
s.sort()

TypeError: '<' not supported between instances of 'str' and 'int'